# Day 1
## Part 1

In [12]:
import pandas as pd

b = pd.read_fwf('input.txt')
b["comparison"] = b['numbers'].diff()
answer = b['comparison'] > 0
answer.value_counts()

## Part 2

In [53]:
c = pd.read_fwf('input.txt')
c["comparison"] = c.diff(3)
answer = c['comparison'] > 0
answer.value_counts()

True     1797
False     203
Name: comparison, dtype: int64

# Day 2
## Part 1

In [42]:
import pandas as pd

working = pd.read_fwf('input_day_2.txt')

In [43]:
new_cols = working['directions'].str.extract('([a-zA-Z]+)([^a-zA-Z]+)', expand=True)
new_cols.columns = ['Direction', 'Value']
day2 = pd.merge(working,new_cols,left_index = True, right_index = True)
day2 = day2.astype({"directions": str, "Direction": str, "Value":int})

In [44]:
just_down = day2[day2['Direction']=='down']
just_forward = day2[day2['Direction']=='forward']
just_up = day2[day2['Direction']=='up']

In [45]:
resulting_height =  just_down["Value"].sum() - just_up['Value'].sum()
resulting_horz = just_forward['Value'].sum()
print(
    resulting_height,
    resulting_horz
)
answer = resulting_height * resulting_horz
answer

1172 1832

2147104

## Part 2

In [46]:
day2['Horz'] = 0
day2['Depth'] = 0
day2["Aim"] = 0

aim = 0
day2.head(2)

  directions Direction  Value  Horz  Depth  Aim
0  forward 3   forward      3     0      0    0
1     down 7      down      7     0      0    0

In [47]:
day2.shape[0]

1000

In [52]:
aim = 0
day2copy = day2.copy()
for el in range(0,day2.shape[0]):

    if day2.iloc[el]["Direction"] == "forward":

        # Instead, just use vars!!! No meddling with Dataframes.

        aim += day2copy.iloc[el]['Value'] * aim

        day2copy.iloc[el]["Horz"] = day2copy.iloc[el]["Horz"] + day2copy.iloc[el]["Value"] 
        day2copy.iloc[el]["Aim"] = day2copy.iloc[el]['Value'] * aim
        
        break

    if day2.iloc[el]["Direction"] == 'down':
        aim += day2.iloc[el] + aim
        
        day2.iloc[el]["Aim"] = aim + day2.iloc[el]['Value']
        day2.iloc[el]['Depth'] = day2.iloc[el]["Depth"] +day2.iloc[el]['Value']

    if day2.iloc[el]["Direction"] == 'up':
        aim += day2['Value'] - aim

        day2.iloc[el]["Aim"] = aim -day2.iloc[el]['Value']
        day2.iloc[el]['Depth'] = day2.iloc[el]["Depth"] - day2.iloc[el]['Value']
day2

<ipython-input-52-0a9f49b6c0fc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day2copy.iloc[el]["Horz"] = day2copy.iloc[el]["Horz"] + day2copy.iloc[el]["Value"]
<ipython-input-52-0a9f49b6c0fc>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day2copy.iloc[el]["Aim"] = day2copy.iloc[el]['Value'] * aim

    directions Direction  Value  Horz  Depth  Aim
0    forward 3   forward      3     0      0    0
1       down 7      down      7     0      0    0
2    forward 8   forward      8     0      0    0
3       down 9      down      9     0      0    0
4    forward 3   forward      3     0      0    0
..         ...       ...    ...   ...    ...  ...
995     down 9      down      9     0      0    0
996     down 2      down      2     0      0    0
997     down 6      down      6     0      0    0
998     down 9      down      9     0      0    0
999  forward 8   forward      8     0      0    0

[1000 rows x 6 columns]